*{
    
    color: azure;
    border: solid 0px red;
    margin: 0px;
    padding: 0px;
}
.lineanegra{
    color: black;
}
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  
  
}
.imagenesplatos{
    display: flex;
}
.logo{
    width: 13%;
    position: absolute;
    
}
.primermapa{
    width: 50%;
}
.imgpresentacion{
    width: 30%;
}
.cincuenta{
    width: 50%;
    padding: 2%;
    
}
.displi{
    display: flex;
}
.menj{
    text-align: center;
    padding: 2% 20%;
    font-size: 1.5vw;
}

.mensajehorario{
    text-align: center;

}
.ubica{
    display: flex;
    text-align: center;
    font-size: 1.8vw;
    
}
th{
    border: solid rgba(255, 255, 255, 0.373) 1px;
    padding: 1%;
}
td{
    border: solid rgba(255, 255, 255, 0.373) 1px;
    padding: 1%;
}
.horariofinal{
    padding: 3%;
    margin: 0 auto;
}
.hor2{
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.347);
}
.hor1{
    
    text-align: center;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.347);
    padding: 4%;
}
.presentacion{
    text-align: center;
    
}
.po{
    width: 50%;
    height: auto;
}
.mas{
    display: flex;
    text-align: center;
    padding: 3% 0%;
}
.mapita{
    width: 60%;
    height: auto;
    border-radius: 6%;
    
    
}
.mapres{
    
    width: 80%;
    height: 50vh;
}
.txtubic{
    padding: 2%;
    height: 8vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.indice{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60% ;
    text-align: center;
    align-items: center;
    border: solid 0px green;
    font-size: 1.3vw;
    background-color: rgba(255, 255, 255, 0.897);
    margin-top: 1%;
    
   
}
.ubicacion{
    
    
}
.elemap{
    justify-content: center;
    display: flex;
}
.c1{
    display: flex;
    padding: 1%;
}
.claselogo{
    text-align: center;
}
.boton{
    
    color: black;
    
    padding: 2% 0%;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    width: 15%;
    text-decoration: none;
    
    
}

.as2{
    width: 35%;
}
.texto{
    font-size: 1.5VW;
    text-align: center;
    padding: 4% 10%;
}
.info{
    border: solid 0px white;
    
    
    margin: 0% 10%;
    background-color: rgba(0, 0, 0, 0.445);
    padding: 2%;
}
.portada{
    width: 80%;
    height: auto;
    
}

body {
    animation: cambio-imagen 60s infinite;
    animation-timing-function: ease-in-out;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     
}

.abrimos{
    font-size: 1.5vw;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
form{
    font-size: 1vw;
    
    
}


button{
    margin-top: 1%;
    width: 12%;
    color: black;
    padding: 0.4% 0%;
    font-size: 1vw;
}
.inputgrande{
    margin-top: 0.5%;
    padding: 0.5%;
    color: black;
    max-width: 60%;
    min-width: 60%;
    min-height: 20vh;
    font-size: 1vw;
    vertical-align: top;
    width: 60%;
    height: 20vh;
}
.inputnormal{
    margin-top: 0.5%;
    width: 60%;
    margin: 1% 0%;
    color: black;
    font-size: 1vw;
    padding: 0.5%;
}
.horario{
    margin-right: 3%;
    margin-left: 10%;
}
.formulario{
    justify-content: center;
    text-align: center;
    
}
.logosunidos{
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.897);
}
.mapita{
    
    height: auto;
}
.mitad{
    margin-bottom: 1%;
}
.a{
    text-decoration: none;
    color: white;
    animation: colorChange 0.5s forwards;
}
.elmapa{
    width: 50%;
    
    margin: 2%;
}
iframe{
    width: 100%;
}
table{
    width: 50%;
    margin: 2%;
    height: 40vh;
}
.telymap{
    display: flex;
    padding: 2%;
}
@keyframes colorChange {
    0% { color: rgb(255, 255, 255); }
    100% { color: rgb(0, 0, 0); }
}
@keyframes cambio-imagen {
    0%, 14.2% {
        background-image: url('../img/Bodega.jpg');
    }
    14.3%, 28.5% {
        background-image: url('../img/Atún.jpg');
    }
    28.6%, 47.6% {
        background-image: url('../img/atami.jpg');
    }
    47.7%, 66.6% {
        background-image: url('../img/Futomaki.jpg');
    }
    66.7%, 76.2% {
        background-image: url('../img/tunayaki.jpg');
    }
    76.3%, 100% {
        background-image: url('../img/restaurante.jpg');
    }
}
