*{
    margin: 0;
    padding: 0;
    border: 0px solid red;
    font-size: 18px;
    font-family: 'fuente';
    
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'fuente';
    src: url('../fuente/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
/*Encabezado*/
header {
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    display: flex;
    
    
    position: fixed;
    width: 100%;
    z-index: 9999
    
    
}

.menu_menu{
    justify-content: center;
    align-items: center;
}
.esconder_menu{
    display: none;
    
}
.logo_menu{
    padding: 8px 25px;
    display: flex;
}
.nav{
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}
.partemenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu_png {
    margin-left: auto;
    width: 40px;
    height: auto;
    
}
.menu_png2 {
    margin-left: auto;
    width: 40px;
    height: auto;
    display: none;
}
.logo{
    
    width: 140px;
    display: none;
}
.menu_responsive{
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(204, 45, 69, 0.484);
    
    
}
.menu_responsive ul{
    list-style: none;
    width: 100%;
    
    
}
.nav2{
    text-decoration: none;
    font-size: 30px;
   
    
    
}
.esconder_menu li{
    
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.502);
}
.menu_responsive li{
    padding: 3% 0;
}
nav {
    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    
}
.menu_movil{
    appearance: none;
}
nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

nav ul li {
    
    margin: 0% 5%;
}
nav ul li:hover{
    
    font-size: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}
nav ul li a:hover{
    color: rgb(167, 131, 87);
}
/*main*/

body{
    background-image: url("../img/uroko.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-size: 50%;
    

    
}
.fondomain{
    padding-top: 10vh;
}
.info{
    margin: 0% 10%;
    background-color: #ffffffdc;
    padding: 2%;
}
.claselogo{
    text-align: center;
}
.logosunidos{
    width: 50%;
    height: auto;
    
}
.menj{
    text-align: center;
    padding: 2% 20%;
    
}
.tresimagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tresimagenes img{
    width: 20%;
    height: auto;
    margin: 1%;
}
.abrimos{
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}
.negrita_titulo{
    font-weight: bold;
}
.apertura{
    width: 50%;
    padding: 2% 2%;
    
    
}
hr{
    background-color: #000000;
    margin: 3% 9%;
    border-radius: 5%;
    padding: 0.1% 30%;
}
.elmapa{
    padding: 3% 2%;
    width: 50%;
    height: 40vh;
}
iframe{
    height: 100%;
    width: 100%;
}
 /* carta*/

 .info_carta{
    border: solid 0px white;
    
    
    
}
.carta img{
    width: 100%;
    height: auto;
    margin: 0% 0%;
    padding: 1%;
    
}
.carta{
    display: flex;
    
    
}
/*Nosotros*/

.nosotros{
    padding: 2% 15%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.nosotros p{
    padding: 1%;
}
.nosotros h1{
    font-size: 20px;
}
.conocenos{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 30px;
    font-weight: bold;
}
/*foto joana y antonio*/

.aj{
    width: 100%;
    height: auto;
    margin-top: 4%;
}
/*formulario*/
.formulario{
    justify-content: center;
    text-align: center;
    
}
.inputgrande{
    margin-top: 0.5%;
    padding: 0.5%;
    color: black;
    max-width: 60%;
    min-width: 60%;
    min-height: 20vh;
    font-size: 15px;
    vertical-align: top;
    width: 60%;
    height: 20vh;
    border: solid 2px rgb(111, 111, 111);
    border-radius: 5px;
}
.inputnormal{
    margin-top: 0.5%;
    width: 60%;
    margin: 1% 0%;
    color: black;
    font-size: 15px;
    padding: 0.5%;
    border: solid 2px rgb(111, 111, 111);
    border-radius: 5px;
}
.inputnormal:hover{
    border: 2px solid  rgb(167, 131, 87);
    
}
.inputgrande:hover{
    border: 2px solid  rgb(167, 131, 87);
    
}
.mitad{
    padding-bottom: 3vh;
}

.boton{
    margin-top: 2vh;
    padding: 0.5%;
    
    border-radius: 2%;
    border: solid 1px rgb(111, 111, 111);
    background-color: #ffffff;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(167, 131, 87);
}
.contacto{
    font-size: 20px;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.imgsello{
    width: 60%;
    height: auto;
}


.negrita{
    font-weight: bold;
}
.galeria{
    display: none;
    
}
.izquierda_galeria {
    position: absolute;
    left: 0;
  }

  .derecha_galeria {
    position: absolute;
    right: 0;
  }
.carta > div{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.carta{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0% 0%;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 1% 10%;
    
}
.carta img{
    width: 90%;
    height: auto;
    border: solid 4px rgba(0, 0, 0, 0.127);
    background-color: rgb(255, 255, 255);
    
}
.fondocarta{
    background-color: antiquewhite;
}
.izquierda_galeria{
    background-color: rgba(255, 255, 255, 0);
    padding: 2%;
    font-size: 30px;
    margin-left: 10%;
    color: #3333337f;
    border-radius: 5px;
    cursor: pointer;
}
.derecha_galeria{
    background-color: rgba(255, 255, 255, 0);
    padding: 2%;
    font-size: 30px;
    margin-right: 10%;
    color: #3333337f;
    border-radius: 5px;
    cursor: pointer;
}
.izquierda_galeria:hover{
    font-size: 3.3vw;
    color: #333333b9;
}
.derecha_galeria:hover{
    font-size: 3.3vw;
    color: #333333b9;
}
.izquierda_galeria:active{
    font-size: 3.5vw;
    color: rgb(167, 131, 87);
}
.derecha_galeria:active{
    font-size: 3.5vw;
    color:rgb(167, 131, 87);
}

  
  .contacto{
    font-size: 30px;
  }
.aviso_legal{
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
.centrar_aviso{
    text-align: center;
}
